<lint-module
    format="1"
    dir="/home/noir/Documents/GitHub/azyx/android/app"
    name=":app"
    type="APP"
    maven="android:app:"
    gradle="7.3.0"
    buildFolder="property(org.gradle.api.file.Directory, fixed(class org.gradle.api.internal.file.DefaultFilePropertyFactory$FixedDirectory, /home/noir/Documents/GitHub/azyx/build))/app"
    bootClassPath="/home/noir/Android/Sdk/platforms/android-34/android.jar:/home/noir/Android/Sdk/build-tools/30.0.3/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-34">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
